@import '../../stylesheets/mixins';
@import '../../stylesheets/variables';

// HOME PAGE

html, body, .surround {
	height:100%;
}

.surround {
	display:table;
	width:100%;
}

.jumbotron {
	background: url(/jumbo.jpg) center center;
	height:100%;
	vertical-align: middle;
	display: table-cell;
	text-shadow:
	   -1px -1px 0 #6B6B6B,  
		1px -1px 0 #6B6B6B,
		-1px 1px 0 #6B6B6B,
		 1px 1px 0 #6B6B6B;
	color:white;
}

.jumbotron h1 {
	margin-top:0;
}

.center {
	text-align:center;
}