<template name="changePassword">
	{{> nav}}

	<div class="container">
		<a href="{{pathFor 'dashboard'}}" class="btn btn-primary">&lt; Go back to the Dashboard</a>
		<h2>Reset your Password</h2>
		<form role="form">
		  <div class="form-group">
		    <label for="currentPassword">Current Password</label>
		    <input type="password" class="form-control" id="currentPassword" placeholder="Current Password">
		  </div>
		  <div class="form-group">
		    <label for="newPassword">New Password</label>
		    <input type="password" class="form-control" id="newPassword" placeholder="New Password">
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</template>