<template name="admin">
	{{> nav}}
	<div class="container">
		{{#if admin}}
			
		<form role="form">
			<div class="form-group">
				<label for="question">New Question</label>
				<div class="input-group">					
					<input type="text" class="form-control" id="question" placeholder="Enter the new question">
					<div class="input-group-btn">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</div>
		</form>

		<h3>15 Most Recent Questions</h3>
		<ul>
			{{#each recentQuestions}}
				<li>{{this.question}}</li>
			{{/each}}
		</ul>
		{{else}}
			<p>You're a bad person.</p>
		{{/if}}
	</div>
</template>