<template name="dashboard">
	{{> nav}}

	<div class="container">
		<!-- If the user is an admin give them access to an admin page -->
		{{#if admin}}
			<a href="{{pathFor 'admin'}}">Go to admin panel</a>
		{{/if}}

		<h2>Thanks for being a part of <em>Answer That</em>.</h2>

		<div class="well">
			<p>Have a question you want to share? Add it here.</p>
			<form role="form">
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" id="question" placeholder="Enter your question">
						<div class="input-group-btn">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="alert alert-warning">
			<p>To change your password click the button below, within the yellow background.</p>
			<a href="{{pathFor 'changePassword'}}" class="btn btn-default">Change Password</a>
		</div>

		<div class="alert alert-danger">
			<p>To delete your account (and stop getting emails from us) click the button below, within the red background. </p>
			<button class="btn btn-default" id='delete'>Delete Account</button>
		</div>
	</div>
</template>